.scroll-view{
	overflow:hidden;
	position:relative;
	width:93%;

	z-index:999;
	
	
}
 .scroll-view ul{ 
	
  	margin: 0;
 	 padding: 0;
  	list-style: none;
  	float: left;
  }

.scroller-background{
	overflow:hidden;
	position:absolute;
	width:100%;
	border-radius:3px;
	padding-top:2px;
	padding-bottom:2px;
	top:0px;
	z-index:988;
	left:0px;
	margin:0px;
	padding:0px;
	border-bottom:2px solid #08a;
}

